<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR00VKj5lzzP1rjg13s9x60p2pswANAaU</string>
	<key>GCM_SENDER_ID</key>
	<string>400341104315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hisnAlmuslim</string>
	<key>PROJECT_ID</key>
	<string>islamic-app-distribution</string>
	<key>STORAGE_BUCKET</key>
	<string>islamic-app-distribution.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400341104315:ios:7b3540d2df4de90b67db9e</string>
</dict>
</plist>